dotenv==0.9.9
gradio==5.45.0
requests==2.32.5
azure-identity==1.25.0
azure-ai-projects==1.0.0
numpy==1.26.4
openai==1.107.3
yt_dlp==2025.9.5
faster_whisper==1.2.0
fastapi
uvicorn[standard]==0.30.6
azure-storage-blob==12.20.0